* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
}

hr {
  margin-top: 50px;
}

img {
  /* per centrare orizzontalmente */
  height: 150px;
  display: block;
  margin: auto;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

[class*="col-"] {
  padding: 10px;
  text-align: center;
}

.container {
  margin: 40px auto;
}

.grey {
  background-color: #f9f9f9;
}

/****
 HEADER
****/
header.container {
  margin-top: 20px;
}

/***
RESPONSIVE
***/
/* > 768px - tablet */
@media screen and (min-width: 768px) {
  img {
    height: 200px;
  }
}

/* > 992px - desktop */
@media screen and (min-width: 992px) {}