* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
}

hr {
  margin-top: 50px;
}

img {
  /* per centrare orizzontalmente */
  height: 200px;
  display: block;
  margin: auto;
}

[class*="col-"] {
  padding: 10px;
  text-align: center;
}

/****
 HEADER
****/
header.container {
  margin-top: 20px;
}

/****
 MAIN
****/
#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

main>.container {
  border-bottom: 1px solid;
}

/***
RESPONSIVE
***/
/* > 768px - tablet */
@media screen and (min-width: 768px) {
  img {
    height: 150px;
  }

  .blue {
    background-color: #9b9bff;
  }

  .container {
    padding: 0 20px;
    border: none;
  }

  main>.container {
    border-bottom: none;
  }
}

/* > 992px - desktop */
@media screen and (min-width: 992px) {
  .grey {
    background-color: #f9f9f9;
  }
}